body {
	color: white;
	background-image: linear-gradient(to right bottom, #33a1c9, #2da4d0, #27a8d7, #20abde, #16aee5, #0fb6ec, #07bef2, #00c6f8, #00d5fe, #00e3ff, #00f1ff, #00ffff);
	background-repeat: no-repeat;
	min-height: 600px;
	font-family: Times New Roman;
}

h1 {
	text-align: center;
}

.input {
	text-align: center;
	
}